
.fr-list {
    width: 100%;
    overflow: auto!important;
}
 .table > thead:first-child > tr:first-child > th{
     min-width:180px;
}
  .table > thead:first-child > tr:first-child > th:last-of-type{
      min-width:100px;
  }