
@{
    ViewBag.Title = "Contract Page";
}



<h2>@ViewBag.Message</h2>
<p>

</p>

<div id="contractList">
    @Html.Partial("_ContractPartial")
</div>


<div id="loading"></div> 
<script type="text/javascript">
    window.onload = function () {
        var page = 0;
        var _inCallback = false;

        function loadContracts() {
            if (page > -1 && !_inCallback) {
                _inCallback = true;
                page++;
                $('div#loading').html('<p>Loading...</p>');
                $.get("/Contract/Paging" + page, function (data) {
                   // alert(data);
                    if (data != '') {
                        $("#contractList").append(data);
                    }
                    else {
                        page = -1;
                    }

                    _inCallback = false;
                    $('div#loading').empty();
                });
            }
        }

        var dcList = true;

        $(window).scroll(function () {
       
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                loadContracts();
            }
        });
    }
</script>