
@model IEnumerable<PMSContract.ContractModel>


@section HeaderPage{
    <section class="content-header">
        <h1>
            Contract page
        </h1>

    </section>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contract List</title>
</head>
<body>

    <div class="box-header">
        <h1>@ViewBag.aa</h1>
        <i class="fa fa-fw fa-plus"></i>@Html.ActionLink("Create New", "Create")
        </p>
    </div>

    <div class="box box-info">
        <!-- <div class="box-header">
            <h3 class="box-title">Contract List</h3>
        </div>
        /.box-header -->
        <!-- /.box-body --><div class="box-body">
            <div class="fr-list">
                <div id="1234">


                      
                            @Html.Partial("_ContractPartial")
                     
                </div>
            </div>
        </div>

        <a href="javascript:;" onclick="cuibap()">aaaa</a>
    </div>

    <script>
        function cuibap() {
            $.get("/contract/testpaging?page=2&pagesize=10&isjson=2", function (data) {
                $("#1234 #contractList tbody").append(data);
            })
        }

    </script>
</body>
</html>
